.bodi{
	background-color: #F9E79F; 
	
}

.containe{

}
.jumbotron {
	margin-top: 50px;
	text-align: center;
	background-color: yellow;
	color: black;
}
.footer{
	padding: 5px 5px 0px 5px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top:10px;

}
.card-hotel{
	flex: 1 250px;
	margin-top: 5px;
}
.btn-reserva{
	width: 100%;
	border-radius: 0px; 

}
.img-fluid {
	width: 100%;
	height: auto;

}
.card-img-top {
	padding-top: 0.5em
}
.tab-content{
	padding-top: 10px;
}
.btn-success {
	position: relative;
	padding-top: 0.5em;
}
.carol {
	padding-top: 10px;
}