@colorBody: #0B4F6C;
@colorJumbTron: #B80C09;
.marjenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.bodi{
	background-color: @colorBody; 
	
}

.containe{

}
.jumbotron {
	.marjenes(6D:\Desktop\FulStack0px, 15px);
	text-align: center;
	background-color: @colorJumbTron;
	color: black;
}
.footer{
	padding: 5px 5px 0px 5px;
	background-color: @colorJumbTron;
	.marjenes(10px, 0px);

}
.card-hotel{
	flex: 1 250px;
	.marjenes(10px, 0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px; 

}
.img-fluid {
	width: 100%;
	height: auto;

}
.card-img-top {
	padding-top: 0.5em
}
.tab-content{
	padding-top: 10px;
}
.btn-success {
	position: relative;
	padding-top: 0.5em;
}
.carol {
	padding-top: 10px;
}