.bodi {
  background-color: #0B4F6C; }

.jumbotron {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #B80C09;
  color: #040F16; }

.footer {
  background-color: #B80C09;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 260px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.img-fluid {
  width: 100%;
  height: auto; }

.card-img-top {
  padding-top: 0.5em; }

.tab-content {
  padding-top: 10px; }

.btn-success {
  position: relative;
  padding-top: 0.5em; }

.carol {
  padding-top: 10px; }
