.bodi {
  background-color: #0B4F6C;
}
.jumbotron {
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #B80C09;
  color: black;
}
.footer {
  padding: 5px 5px 0px 5px;
  background-color: #B80C09;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.card-img-top {
  padding-top: 0.5em;
}
.tab-content {
  padding-top: 10px;
}
.btn-success {
  position: relative;
  padding-top: 0.5em;
}
.carol {
  padding-top: 10px;
}
