$colorBody: #0B4F6C;
$colorJumbTron: #B80C09;
$textcolor: #040F16;

@mixin marjenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.bodi{
	background-color: $colorBody; 
	
}

.containe{

}
.jumbotron {
	@include marjenes(50px, 20px);
	text-align: center;
	background-color: $colorJumbTron;
	color: $textcolor;
}
.footer{
	
	background-color: $colorJumbTron;
	@include marjenes(10px, 10px);

}
.card-hotel{

	flex: 1 260px;
	margin-left: 0px;
	@include marjenes(5px, 5px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px; 

}
.img-fluid {
	width: 100%;
	height: auto;

}
.card-img-top {
	padding-top: 0.5em
}
.tab-content{
	padding-top: 10px;
}
.btn-success {
	position: relative;
	padding-top: 0.5em;
}
.carol {
	padding-top: 10px;
}